# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.sandbox
.localConfigs
.localConfigs.playground
.localConfigs
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# build
lib/

# Dev tool directories
/devTools/

# IDE files
.project
.settings/
.vscode/settings.json

# Test coverage
coverage/
.nyc_output/appPackage.prod.zip
