# TeamsFx files
env/.env.*.user
env/*.env.user
env/.env.local
.smtp.env
.smtp.env.*
.env.user-account
.env.user-account.*
.localConfigs
.localConfigs.playground
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# build
lib/

# devTools
devTools/
users/.smtp.env
users/.env.user-account
users/venv/
